<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table>
    <tr>
        <td th:text="${user.getId()}">VALUE</td>
        <td th:text="${user.getFirstName()}">VALUE</td>
        <td th:text="${user.getLastName()}">VALUE</td>
        <td th:text="${user.getPassportNumberSeries()}">VALUE</td>

    </tr>
</table>

</body>
</html>